.header {
    display: flex;
    background-color: var(--preto);
}

.modal__header {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-evenly;
    font-family: var(--fonte);
    font-size: 1.25rem;
    color: var(--branco);
}

.btn-close{
    color: var(--branco);
}

.header__button {
  padding-left:4rem;
}

.modal__body{
    display: flex;
}
.modal__body__description {
    font-family: var(--fonte);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.modal__body__description h3{
    font-weight: 700;
    font-size: 1.5rem;
}

.modal__body__description p{
    font-size: 1rem;
    padding-bottom:1.5rem;
    border-bottom: 2px solid;
}

.modal__body__description h4 {
    font-size: 1.25rem;
}

.modal__body__description h5 {
    font-size: 0.8rem;
    color: var(--cinza-claro);
    padding-bottom: 1.5rem;
    border-bottom: 2px solid var(--cinza-claro);
}

.modal__form {
    padding-bottom: 1.5rem;
    border-bottom: 2px solid var(--cinza-claro); 
}
.modal__body__description h6 {
    font-size: 0.9;
    font-weight: 700;
}

.modal__color__size {
    display: flex;
    gap: 2rem;

}

.modal__color__size label {
    display: flex;
    flex-direction: column;

}
.modal__radio {
    display: flex;
}

