.footer {
    display: flex;
    justify-content: center;
    font-family: var(--fonte);
    font-size: 1rem;
    color: var(--branco);
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: var(--preto);
}

@media screen and (max-width: 600px) {
    .footer {
        font-size: 1rem;
        padding-left: 1.44rem;
        padding-right: 1.44rem;
        justify-content: center;
        text-align: center;
    }
}