h3 {
    font-family: var(--fonte);
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
}

.products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.88rem;
}

.products__description {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 21.8rem;
    border: 1px solid rgba(0, 0, 0, 0.13);
    margin-left: 1rem;
}

.products__description h4 {
    font-family: var(--fonte);
    padding-left: 1rem;
    margin-bottom: 0.8rem;
}

.products__description p {
    font-family: var(--fonte);
    font-size: 0.8rem;
    padding-left: 1rem;
}

.products__btnView {
    padding-left: 1rem; 
    padding-bottom: 1rem;
}

@media screen and (min-width: 768px){
    .products__description{
      width: 20.6rem;  
      margin-left: 0;
    }
}

@media screen and (max-width: 768px){
    .products__description{
      width: 20.6rem;  
      margin-left: 0;
    }
}

.categories h3 {
    font-family: var(--fonte);
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
}

.categories__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.88rem;
}

.categories__cards img {
   width: auto;
}

@media (min-width: 700px) and (max-width: 922px) {
    .categories h3 {
        font-size: 1.75rem;
}

    .categories__cards img{
        width: 13rem;
    }
}